@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

body {
    font-family: 'Inika', 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

li,
ul,
a,
button {
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

:root {
    --bg-color: #EDF2EC;
    --c-green: #499A18;
    --c-orange: #E06733;
    --c-grey: #717171;
    --c-dark: #636060;
    --c-link: #010201;
    --bs-gutter-x: 3rem;
}

.btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    border: 2px solid #E06733;
    border-radius: 10px;
    padding: 14px 27px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
}

.btn:hover {
    color: #fff;
    background-color: var(--c-orange);
    transition: 0.5s;
}

.btn:active {
    box-shadow: 0px 0px 0px 3px chocolate;
}

.active-link {
    font-weight: 700;
    font-size: 16px;
    color: #E06733;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    font-family: 'Inika';
    color: var(--c-green);
}

.text {
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 30px;
    color: var(--c-dark);
}

a {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: var(--c-link);
    transition: all 0.5s;
}

/* header */
.header {
    padding: 42px 0;
    background-color: var(--bg-color);
}

.burger {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.menu__item_burger {
    display: none;
}

.menu__main,
.menu__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__links {
    margin-right: 48px;
}

.menu__links:last-child {
    margin-right: 0;
}

.menu__logo {
    display: flex;

}

.menu__span {
    margin-top: 7px;
    line-height: 21px;
}

.menu__link:hover {
    color: var(--c-orange);
    transition: all 0.5s;
}

.menu__main {
    margin-top: 5px;
}

.main__menu_burger {
    display: none;
}

/* -------- */

/* welcome section */

.welcome {
    padding: 67px 0px 57px 0;
    background-color: var(--bg-color);
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__about {
    width: 549px;
}

.offer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;

    color: var(--c-grey);
}

.offer__span {
    color: var(--c-green);
}

.offer__img {
    width: 448.8px;
    height: auto;
}

.offer__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: var(--c-dark);
    margin-top: 42px;
}

.offer__btn {
    margin-top: 48px;
    padding: 10px 27px;
}

/* ------ */

/* about */

.about {
    padding: 93px 0px;
    background-color: #fff;
}

.gardeners__title {
    width: 463px;
}

.gardeners__title span {
    color: var(--c-orange);
}

.gardeners__text {
    width: 605px;
    margin-top: 40px;
}

.gardeners {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------ */

/* service */

.service {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: var(--bg-color);
}

.service__top,
.services__btns {
    display: flex;
    align-items: center;
}

.service__title {
    width: 306px;
}

.services__btns {
    margin-left: 142px;
}

.services__btn {
    margin-right: 38px;
    color: var(--c-orange);
    border-radius: 5px;
    width: 161px;
    border-width: 1px;
}

.services__block {
    border-radius: 20px;
    width: 330px;
    border: 1px solid #E3E1D5;
    padding-bottom: 30px;
    margin-bottom: 60px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.services__img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;

}

.services__subtitle {
    text-align: center;
    color: var(--c-orange);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
}

.services__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    color: var(--c-grey);
    text-align: center;
}

.services__blocks {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.serv-block-active {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.serv-btn-active {
    color: #fff;
    background-color: var(--c-orange);
    transition: 0.5s;
}

/* ----- */

/* prices */

.prices {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 118px;
}

.price__title {
    color: #000000;
}

.price__select {
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    width: 332px;
    height: 282.01px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
}

.price__option {
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 2px;
}

.price__offer {
    padding: 0px 40px;
}

.price__hr {
    height: 0.5px;
    background-color: #AEA1A1;
    margin-top: -6px;
}

.price__adv {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
    margin-top: 6px;
}

.price__option_active {
    background: #D6E7D2;
    height: auto !important;
    padding-bottom: 10px;
    margin-bottom: 12px;
    transition: 1s;
    margin-top: 10px;
}

.price__select-active {
    height: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    transition: 1s;
}

.price__option_active .price__btn {
    transform: rotate(180deg);
    background: #AEA1A1;
    transition: 0.5s;
}

.price__some {
    margin-top: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #E06733;
}

.some__span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.price__link-contacts {
    background: #FFFFFF;
    border-radius: 10px;
    width: 86px;
    height: 25px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    transition: 0.5s;
}
.price__link-contacts:hover{
    background-color: var(--c-orange);
    color: var(--bg-color);
    transition: 0.5s;
}

.price__main {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    align-items: center;
}

.price__option:hover {
    background: #D6E7D2;
}

.prive__rate {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.price__btn {
    border: none;
    outline: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.price__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    width: 452px;
}

.price__title span {
    color: var(--c-green);
}

.price {
    display: flex;
    justify-content: space-between;

}

.price__title_right {
    text-align: right;
}

.price__leafs {
    width: 152px;
    height: auto;
    margin-top: 39px;
    height: 174.99px;
}

.price__subblock_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price__button {
    margin-top: 40px;
    margin-left: auto;
    margin-right: 0;
}

/* ------- */

/* contacts */

.contacts {
    padding-top: 53px;
    background-color: var(--bg-color);
}

.change {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.change__select {
    margin-top: 95px;
    height: 50px;
    position: relative;
}

.change__option {
    width: 450px;
    height: 50px;
    padding: 15px 35px 20px 20px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    color: var(--c-grey);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.change__all-city{
    width: 450px;
    height: 0px;
    background: #DCE9D9;
    padding: 27px 35px;
    margin-top: 0px;
    display: none;
    position: absolute;
    top:50px;
    z-index: 1;
}
.change__item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #499A18;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.change__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change__img {
    width: 16px;
    height: 16px;
    background: #AEA1A1;
    border-radius: 50%;
    padding: 5px;
    transition: 0.5s;
}

.change__title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 5px;
    margin-left: 40px;
}

.change__select:hover{
    height: auto;
}

.change__select:hover .change__option {
    background: #C1E698;
    border: 1px solid #D6E7D2;
    box-shadow: none;
}
.change__select:hover .change__all-city{
    display: block;
    transition: 0.5s;
    height: 234px;
}
.change__select:hover .change__img {
    transform: rotate(180deg);
    transition: 0.5s;
    background: #8BA07E;
}
.change__item:hover{
    color: #717171;
    border-color: #717171;
}
.change__contact{
    background: #EDF2EC;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 25px 76px 32px 35px;
    margin-top: 47px;
    display: none;
    position: absolute;
    width: 448px;
    bottom:60px;
    right: 0px;
    z-index: 0;
}
.change__c{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */

    letter-spacing: 0.05em;
    word-wrap: break-word;
    color: #000000;
    margin-bottom: 10px;
}
.change__c span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    word-wrap: break-word;
}
.change__c_one span{
    margin-left: 105px;
}
.change__adress span {
    margin-left: 25px;
}
.change__phone span{
    margin-left: 80px;
}
.change__call{
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    height: 26px;
    margin: 0 auto;
    margin-top: 24px;
    color: #717171;
}
.change__call:hover{
    background-color: var(--c-orange);
    color: var(--bg-color);
}
.change__contact-active{
    display: block;
}
.change__option-active {
    background: #C1E698;
    border: 1px solid #D6E7D2;
    box-shadow: none;
}
/* ------ */

/* footer */

.footer {
    padding: 37px 0;
    background-color: #fff;
}

.f-links__nets {
    display: flex;
    align-items: center;
}

.f-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-net img {
    width: 32px;
    height: 32px;
}

.f-net {
    margin-right: 20px;
}

.rs-school {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.f-links__item span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-right: 15px;
}

.f-links__item {
    margin-right: -17px;
}

.f-links__nets {
    padding-top: 5px;
}

.f-links__item__github {
    display: flex;

}

.github {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-right: 15px;
}

.rs-school:hover,
.github:hover {
    color: var(--c-orange)
}

@media screen and (max-width:1440px) {
    .container {
        width: 100%;
        padding: 0 15px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }
}

@media screen and (max-width:1200px) {

    .gardeners__img {
        width: 40%;
        flex-basis: 30%;
        height: auto;
    }

    .gardeners__text {
        width: 100%;
    }

    .gardeners__about {
        flex-basis: 70%;
    }

    .change__option {
        width: 300px;
    }
}

@media screen and (max-width:992px) {
    .change__contact{
        position: static;
    }
    .services__btns {
        margin-left: 40px;
    }

    .services__blocks {
        justify-content: space-around;
    }

    h2 {
        font-size: 35px;
    }

    .change {
        flex-direction: column;
        align-items: center;
    }

    .change__option {
        width: 450px;
    }

    .change__woman {
        order: 3;
        width: 200px;
        height: auto;
        margin-top: 250px;
    }

    .price__title {
        font-size: 35px;
    }

    .price__title_right {
        font-size: 25px;
        width: 100%;
    }

    .price__subblock_right {
        width: 296px;
    }

    .offer__img {
        width: 280px;
    }

    .service__top {
        flex-direction: column;
        align-items: flex-start;
    }

    .service__title {
        text-align-last: left;
    }

    .services__btns {
        margin-left: 0;
        margin-top: 20px;
    }

    .services__blocks {
        justify-content: space-between;
        margin-top: 40px;
    }

    .gardeners {
        flex-direction: column;
        align-items: center;
    }

    .gardeners__about {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gardeners__img {
        flex-basis: 100%;
        width: 50%;
    }

    .gardeners__title {
        width: 432px;
        text-align: center;
    }

    .offer__title {
        font-size: 35px;
        width: 341px;
    }

    .offer__img {
        order: 1;
    }

    .offer__about {
        width: 341px;
    }

    .offer__text {
        font-size: 16px;
        margin-top: 30px;
        line-height: 25px;
    }

    .offer__btn {
        margin-top: 30px;
    }

    .change__title {
        margin-left: 0;
    }
}

@media screen and (max-width:768px) {
    .container {
        max-width: 700px;
    }

    .header {
        padding: 30px 0;
    }

    .welcome {
        padding: 46px 0px 70px 0;
    }

    .offer__img {
        margin-top: -50px;
    }

    .about {
        padding: 37px 0px 100px;
    }

    .gardeners__img {
        width: 40%;
        margin-top: 55px;
    }

    .service {
        padding-top: 54px;
        padding-bottom: 30px;
    }

    .services__btns {
        margin-top: 27px;
    }

    .services__block {
        width: 281px;
        height: 463px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 26px;
    }

    .services__img {
        width: 280px;
        height: 350px;
    }

    .services__text {
        width: 201px;
    }

    .price__title_right {
        line-height: 35px;
        margin-top: 104px;
    }

    .price__title {
        width: auto;
    }

    .prices {
        padding-top: 34px;
        padding-bottom: 80px;
    }

    .price__title {
        margin-left: 13px;
    }

    .price__button {
        margin-top: 31px;
    }

    .contacts {
        padding-top: 41px;
    }

    .footer {
        padding: 21px 0;

    }

    .f-links {
        flex-direction: column;
    }

    .f-links__item {
        margin: 0;
    }

    .rs-school {
        line-height: 24px;
    }

    .f-links__nets {
        padding-top: 26px;
    }
}

@media screen and (max-width:576px) {
    .container {
        max-width: 540px;
    }

    .menu__links {
        margin-right: 20px;
    }

    .offer {
        flex-wrap: wrap;
    }

    .offer__img {
        margin-top: 20px;
    }

    .gardeners__text {
        text-align: center;
    }

    .price,
    .services__btns {
        flex-wrap: wrap;
    }

    .services__btn:last-child {
        margin-top: 10px;
    }

    .price,
    .services__blocks {
        justify-content: center;
    }
}

@media screen and (max-width:460px) {
    .change__all-city{
        width: 100%;
    }
    .change__contact{
        width: 100%;
    }
    .menu__links {
        margin-right: 4.3px;
    }
    .change__c span{
        margin-left: 0;
        
    }

    .services__btn {
        width: 121px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        padding: 14px 20px;
        margin-right: 10px;
    }

    .price__button {
        padding: 14px 8px;
    }

    .change__option {
        width: 320px;
    }
}

@media screen and (max-width:405px) {
    .menu__main {
        flex-direction: column;
    }
}

@media screen and (max-width:380px) {
    h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
    }

    .container {
        width: 100%;
        max-width: 363px;
    }

    .menu__item_right {
        display: none;
    }

    .menu__item_burger {
        display: block;
    }

    .offer__title {
        width: 100%;
    }

    .offer__img {
        display: none;
    }

    .gardeners__title {
        width: 100%;
    }

    .gardeners__text {
        max-width: 330px;
        text-align: left;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }

    .burger__img {
        width: 40px;
        height: 31px;
    }

    .offer__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
    }

    .welcome {
        padding: 28px 0px 23px 0;
    }

    .offer__text {
        margin-top: 20px;
    }

    .btn {
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        padding: 3px 18px;
    }

    .offer__btn {
        margin-top: 28px;
    }

    .gardeners__text {
        margin-top: 11px;
    }

    .gardeners__img {
        margin-top: 5px;
    }

    .about {
        padding: 37px 0px 37px;
    }

    .service__title {
        width: 187px;
    }

    .service {
        padding-top: 32px;
        padding-bottom: 0px;
    }

    .services__btns {
        margin-top: 38px;
    }

    .services__btn {
        padding: 6px 18px;
        text-transform: inherit;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }

    .services__block {
        margin-bottom: 21px;
    }

    .price__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin-left: 0;
    }

    .prices {
        padding-top: 18px;
        padding-bottom: 40px;
    }

    .price__select {
        width: 224px;
        height: 235px;
        margin-top: 38px;

    }

    .price__option {
        width: 180px;
        height: 49.72px;
    }

    .prive__rate {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
    }

    .price__title_right {
        font-weight: 700;
        font-size: 21px;
        line-height: 35px;
        margin-top: 18px;
        letter-spacing: 0.3px;
    }

    .price__button {
        margin: 0;
        margin-top: 22px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        padding: 6px 18px;
        text-transform: inherit;
    }

    .price__subblock_right {
        flex-direction: column;
        align-items: center;
    }

    .price__leafs {
        display: none;
    }

    .change__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 33px;
    }

    .contacts {
        padding-top: 20px;
    }

    .change__option {
        width: 298px;
        padding: 15px 20px 20px 20px;
    }

    .change__select {
        margin-top: 82px;
    }

    .change__woman {
        width: 100px;
        margin-top: 130px;
    }

    .footer {
        padding: 9px 0;
    }

    .f-links__net {
        width: 32px;
        margin-right: 15px;
        margin-top: -10px;
    }

    .f-net {
        margin-right: 20px;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 200vh;
        background: #2c2929ad;
        top: 0;
        left: 0;

        display: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .main__menu_burger {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background: #EDF2EC;
        height: 400px;
        padding: 20px 0 20px;
        margin: 0;
        justify-content: inherit;
        align-items: flex-end;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        z-index: 3;
        display: flex;
    }

    .active-menu {
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    .close {
        cursor: pointer;
    }

}